html {
  box-sizing: border-box;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-height: 500px;
  margin: 0;
}

.banner .img-flex {
  font-family: Roboto;
}

h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-family: Roboto Condensed;
  line-height: 1.2;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  margin-top: .5em;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  margin: 0;
  padding: .3rem 1rem;
  transform: translate(5px, 20px);
  position: absolute;
  max-width: 45em;
  overflow: hidden;
  justify-content: space-between;
}

.banner .logo {
  display: flex;
  float: left;
  width: 33%;
}

.banner .banner-text {
  display: block;
  align-items: baseline;
  left: inherit;
  float: left;
  width: 60%;
  padding-left: 2.3rem;
}

header {
  position: relative;
}

.btn {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border: 3px #333 solid;
  background: #333;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  border-color: #000;
  background: #000;
}

@media (min-width: 87.5em) {

  .banner {
    transform: translate(350px, 105px);
  }

  .banner .banner-text {
    display: block;
    align-items: baseline;
    left: inherit;
    float: left;
    width: 60%;
    padding-left: 2.1rem;
  }

}
